* {
    box-sizing: border-box ;
}

body{
    background: #84f568;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.button{
    padding: 8px;
    background-color: black;
    color: #eee;
    border: none;
}

.box {
    width: 80%;
    margin: auto;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 231, 231);
    width:80%;
    margin:auto;
    padding:50px;
    border-bottom: 10px solid red;
}