body{
    background-color: rgb(51, 99, 63);
    
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 231, 231);
    width:80%;
    box-sizing: border-box ;
    margin:50px;
    padding:50px;
    border-bottom: 10px solid red;
}

.main-aside h2{
    color: white;
    text-align: center;
}

.main-aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.main-aside ul a{
    text-decoration: none;
    color: black;
}

.main-aside ul a:hover{
    color: red;
}